.sidebar
  .sidebar__user
    %p.sidebar__user__username h-hiroki
    = link_to "", root_path, class: "sidebar__user__btn-right fa fa-cog"
    = link_to "", root_path, class: "sidebar__user__btn-left fa fa-pencil-square-o"

  .sidebar__groups
    .sidebar__groups-list
      .sidebar__group
        %p.sidebar__group-name chat-group-1
        %p.sidebar__group-messeage messeage1
      .sidebar__group
        %p.sidebar__group-name chat-group-2
        %p.sidebar__group-messeage messeage2
      .sidebar__group
        %p.sidebar__group-name chat-group-3
        %p.sidebar__group-messeage messeage3

