$fontColorWhite: #FFFFFF;
$fontColorDarkGray: #434A54;
$fontColorLightGray: #999999;
$fontColorGray: #434A54;
$fontColorBlack: #333333;

$backgroundColorGray: #AAAAAA;
$backgroundColorNavy: #253141;
$backgroundColorLightNavy: #2f3e51;

$btnColorBlue: #38AEF0;
$borderColorGray: #eeeeee;

$flashMsgColorRed: #F35500;
$flashMsgColorBlue: #38AEF0;
